.metadata/
**/bin/**
**/*.jar
**/executables/**
**/lib/**
**/lib_sources/**
**/.settings/**
pos/source_code/ApplicationResources.properties.*
**/.DS_Store
**/*.tlp
**/source_code/scripts_db/**
db_bkps/


